<footer>
    <div class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col-xs-7 col-sm-3 contact-links">
                    <p>
                        <strong>LiTHe Blås</strong><br>
                        Kårallen, Linköpings universitet<br>
                        581 83 Linköping
                    </p>

                    <p><a href="mailto:styrelsen@litheblas.org" target="_blank">styrelsen@litheblas.org</a><br><a href="{{ "/integritetspolicy" | relative_url }}">Integritetspolicy</a></p>
                    <a href="https://open.spotify.com/artist/3gwlyGQlIZzzVTgUWXghY6" target="_blank"><span class="fa fa-spotify fa-lg"></span></a>&nbsp;&nbsp;&nbsp;
                    <a href="https://www.youtube.com/results?search_query=lithe+bl%C3%A5s" target="_blank"><span class="fa fa-youtube fa-lg"></span></a>&nbsp;&nbsp;&nbsp;
                    <a href="https://facebook.com/litheblas" target="_blank"><span class="fa fa-facebook fa-lg"></span></a>&nbsp;&nbsp;&nbsp;
                    <a href="https://instagram.com/litheblas" target="_blank"><span class="fa fa-instagram fa-lg"></span></a>
                </div>
                <div class="col-xs-5 col-sm-9 pull-down">
                    <div class="pull-right" style="display: flex; align-items: center; flex-direction: column;">
                        <img src="{{ "/assets/img/lysator.svg" | relative_url }}" class="img-responsive" alt="Lysator logo" style="max-width: 60px;">
                        <p style="margin: 0; margin-bottom: 10px; text-align: center;"><small>Hemsidan drivs i samarbete <br> med Datorföreningen <a href="https://www.lysator.liu.se/inhysningar/" target="_blank" style="color:#f0e591; text-decoration: underline;">Lysator</a> </small></p>
                    </div>
                    <img src="{{ "/assets/img/overkropp.svg" | relative_url }}" class="pull-right img-responsive">
                </div>
            </div>
        </div>
    </div>
</footer>

</body>
</html>
