<header>
    <div class="navbar navbar-default navbar-fixed-top navbar-main">
        <div class="container">
            <div class="navbar-header">
                <a href="{{ "/" | relative_url }}" class="navbar-brand">
                    <img src="{{ "/assets/img/logo-bla.svg" | relative_url }}" class="logo img-responsive">
                </a>
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse" id="navbar-main">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ "/" | relative_url }}">Hem</a></li>
                    <li><a href="{{ "/boka" | relative_url }}">Boka</a></li>
                    <li><a href="{{ "/ansok" | relative_url }}">Ansök</a></li>
                    <li><a href="{{ "/upplev" | relative_url }}">Upplev</a></li>
                    <li><a href="{{ "/om-oss" | relative_url }}">Om oss</a></li>
                    <li><a href="{{ "/kontakt" | relative_url }}">Kontakt</a></li>

                    <li class="active"><a href="https://litheblas.org/internt" target="_blank">För medlemmar</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>