---
layout: default
---

<div class="page-title">
        <div class="container">
            <h1>{{ page.title | escape }}</h1>
        </div>
    </div>


<div class="container">
    <div class="row">
        <div class="col-md-5 contact-board">
            <h2>Styrelsen</h2>

            <div class="media">
                <!-- <img class="media-object pull-left" src="{{ "/assets/img/board/bibbi.jpg" | relative_url }}" alt=""> -->
                <div class="media-body">
                    <h3 class="media-heading">Kajsa Karlsson <small>Dictator (ordförande)</small></h3>
                    <a href="mailto:dictator@litheblas.org">dictator@litheblas.org</a><br>
                    070 - 715 54 94
                </div>
            </div>

            <div class="media">
                <!-- <img class="media-object pull-left" src="{{ "/assets/img/board/kuba.jpg" | relative_url }}" alt=""> -->
                <div class="media-body">
                    <h3 class="media-heading">Irma Kidell Löwstedt <small>Spelraggare</small></h3>
                    <a href="mailto:spelraggare@litheblas.org">spelraggare@litheblas.org</a><br>
                    076 - 833 82 11
                </div>
            </div>

            <div class="media">
                <!-- <img class="media-object pull-left" src="{{ "/assets/img/board/babylon.jpg" | relative_url }}" alt=""> -->
                <div class="media-body">
                    <h3 class="media-heading">Martin Nilsson <small>Kronharpa (kassör)</small></h3>
                    <a href="mailto:kronharpa@litheblas.org">kronharpa@litheblas.org</a><br>
                </div>
            </div>

            <div class="media">
                <!-- <img class="media-object pull-left" src="{{ "/assets/img/board/penus.jpg" | relative_url }}" alt=""> -->
                <div class="media-body">
                    <h3 class="media-heading">Sara Höglund <small>Domptör</small></h3>
                    <a href="mailto:domptor@litheblas.org">domptor@litheblas.org</a><br>
                </div>
            </div>

            <div class="media">
                <!-- <img class="media-object pull-left" src="{{ "/assets/img/board/kp2.jpg" | relative_url }}" alt=""> -->
                <div class="media-body">
                    <h3 class="media-heading">August Goldhahn <small>Yrstyre (balettchef)</small></h3>
                    <a href="mailto:styryra@litheblas.org">yrstyre@litheblas.org</a><br>
                </div>
            </div>

            <div class="media">
                <!-- <img class="media-object pull-left" src="{{ "/assets/img/board/klorofyll.jpg" | relative_url }}" alt=""> -->
                <div class="media-body">
                    <h3 class="media-heading">Frida Blomstedt <small>Skrivkunig (sekreterare)</small></h3>
                    <a href="mailto:skrivkunig@litheblas.org">skrivkunig@litheblas.org</a><br>
                </div>
            </div>

            <div class="media">
                <!-- <img class="media-object pull-left" src="{{ "/assets/img/board/fisen.jpg" | relative_url }}" alt=""> -->
                <div class="media-body">
                    <h3 class="media-heading">Hugo Asplund <small>Intendent</small></h3>
                    <a href="mailto:intendent@litheblas.org">intendent@litheblas.org</a><br>
                </div>
            </div>

            <div class="media">
                <!-- <img class="media-object pull-left" src="{{ "/assets/img/board/peking.jpg" | relative_url }}" alt=""> -->
                <div class="media-body">
                    <h3 class="media-heading">Niklas Eriksson <small>Notpiccolo</small></h3>
                    <a href="mailto:notpiccolo@litheblas.org">notpiccolo@litheblas.org</a><br>
                </div>
            </div>
        </div>

        <div class="col-md-7">
            <h2>Hör av dig</h2>
            <p>Vill du komma i kontakt med oss? Använd gärna kontaktuppgifterna nedan. Har du frågor om spelningar eller vill boka oss så tveka inte att kontakta vår spelraggare. Du hittar kontaktuppgifter till hen på vänstersidan.</p>

            <div class="well">
                <div class="row">
                    <div class="col-sm-6">
                        <address>
                            <b>LiTHe Blås</b><br>
                            Kårallen, Linköpings universitet<br>
                            581 83 Linköping<br>
                            Sverige
                        </address>
                    </div>

                    <div class="col-sm-6">
                        <p>E-post: <a href="mailto:lithe.blas@music.liu.se" target="_blank">lithe.blas@music.liu.se</a><br>
                        PlusGiro: 189397-3<br>
                        Org.nr: 822001-5401</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

