---
layout: default
---

<div class="page-title">
        <div class="container">
            <h1>{{ page.title | escape }}</h1>
        </div>
    </div>


<div class="container">
    <div class="row">
        <div class="col-md-5 contact-board">
            <h2>Styrelsen</h2>

            <div class="media">
                
                <div class="media-body">
                    <!-- <img class="media-object pull-left img-circle" src="{{ "/assets/img/board/<IMG>" | relative_url }}" alt=""> -->
                    <h3 class="media-heading">Jasmine Tönnberg <small>Dictator (ordförande)</small></h3>
                    <a href="mailto:dictator@litheblas.org">dictator@litheblas.org</a><br>
                </div>
            </div>

            <div class="media">
                <div class="media-body">
                    <!-- <img class="media-object pull-left img-circle" src="{{ "/assets/img/board/<IMG>" | relative_url }}" alt=""> -->
                    <h3 class="media-heading">Ludvig Kåhlin <small>Spelraggare</small></h3>
                    <a href="mailto:spelraggare@litheblas.org">spelraggare@litheblas.org</a><br>
                    072 - 218 95 00
                </div>
            </div>
            
            <div class="media">
                <div class="media-body">
                    <!-- <img class="media-object pull-left img-circle" src="{{ "/assets/img/board/<IMG>" | relative_url }}" alt=""> -->
                    <h3 class="media-heading">Karl Johansen <small>Kronharpa (kassör)</small></h3>
                    <a href="mailto:kronharpa@litheblas.org">kronharpa@litheblas.org</a><br>
                </div>
            </div>

            <div class="media">
               <div class="media-body">
                    <!-- <img class="media-object pull-left img-circle" src="{{ "/assets/img/board/<IMG>" | relative_url }}" alt=""> -->
                   <h3 class="media-heading">Mattias Holmqvist <small>Domptör</small></h3>
                   <a href="mailto:domptor@litheblas.org">domptor@litheblas.org</a><br>
               </div>
           </div>

           <div class="media">
               <div class="media-body">
                    <!-- <img class="media-object pull-left img-circle" src="{{ "/assets/img/board/<IMG>" | relative_url }}" alt=""> -->
                   <h3 class="media-heading">Emanuel Norr <small>Yrstyre (balettchef)</small></h3>
                   <a href="mailto:yrstyre@litheblas.org">yrstyre@litheblas.org</a><br>
                </div>
            </div>

            <div class="media">
                <div class="media-body">
                    <!-- <img class="media-object pull-left img-circle" src="{{ "/assets/img/board/<IMG>" | relative_url }}" alt=""> -->
                    <h3 class="media-heading">Nora Flodin <small>Skrivkunig (sekreterare)</small></h3>
                    <a href="mailto:skrivkunig@litheblas.org">skrivkunig@litheblas.org</a><br>
                </div>
            </div>

            <div class="media">
                <div class="media-body">
                    <!-- <img class="media-object pull-left img-circle" src="{{ "/assets/img/board/<IMG>" | relative_url }}" alt=""> -->
                    <h3 class="media-heading">Elias Wirström <small>Intendent</small></h3>
                    <a href="mailto:intendent@litheblas.org">intendent@litheblas.org</a><br>
                </div>
            </div>

            <div class="media">
                <div class="media-body">
                    <!-- <img class="media-object pull-left img-circle" src="{{ "/assets/img/board/<IMG>" | relative_url }}" alt=""> -->
                    <h3 class="media-heading">Ludvig Fransson <small>Notpiccolo</small></h3>
                    <a href="mailto:notpiccolo@litheblas.org">notpiccolo@litheblas.org</a><br>
                </div>
            </div>
        </div>

        <div class="col-md-7">
            <h2>Hör av dig</h2>
            <p>Vill du komma i kontakt med oss? Använd gärna kontaktuppgifterna nedan. Har du frågor om spelningar eller vill boka oss så tveka inte att kontakta vår spelraggare. Du hittar kontaktuppgifter till hen på vänstersidan.</p>
            <p>Har du frågor eller funderingar kring Luciafesten så är du varmt välkommen att kontakta oss på Luciafestens e-postadress nedan.</p>

            <div class="well">
                <div class="row">
                    <div class="col-sm-6">
                        <address>
                            <b>LiTHe Blås</b><br>
                            Kårallen, Linköpings universitet<br>
                            581 83 Linköping<br>
                            Sverige
                        </address>
                    </div>

                    <div class="col-sm-6">
                        <p>E-post: <a href="mailto:styrelsen@litheblas.org" target="_blank">styrelsen@litheblas.org</a><br>
                        PlusGiro: 189397-3<br>
                        Org.nr: 822001-5401</p>
                    </div>
                </div>
            </div>
            <div class="well">
                <div class="row">
                    <div class="col-sm-6">
                        <address>
                            <b>Luciafesten</b><br>
                            C/o LiTHe Blås<br>
                            Kårallen, Linköpings universitet<br>
                            581 83 Linköping<br>
                            Sverige
                        </address>
                    </div>

                    <div class="col-sm-6">
                        <p>E-post: <a href="mailto:luciafesten@litheblas.org" target="_blank">luciafesten@litheblas.org</a><br>
                        PlusGiro: 573484-3<br>
                        Org.nr: 822001-5401</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

