---
layout: default
---
    <div class="parallax-img" data-image="{{ "/assets/img/carousel/1.jpg" | relative_url }}" data-width="1440" data-height="810"></div>
    <div class="parallax-content">
        <div class="container">
            <div class="row">
                    <h1>LiTHe Blås</h1>
                    <p>
                        ...är orkestern som hängivet ägnar sig åt studentmusik. Våra färger är blå och off-yellow och vi
                        kommer från Linköpings universitet.
                        Allt sedan 1973 har vi spritt glädje och förundran i trakterna kring Linköping – och vi tänker
                        fortsätta länge till.
                    </p>
            </div>
        </div>
    </div>
    <div class="parallax-img" data-image="{{ "/assets/img/carousel/2.jpg" | relative_url }}" data-width="1440" data-height="810"></div>
    <div class="parallax-content">
        <div class="container">
            <div class="row">
                <div class="parallax-inner-img">
                    <img src="{{ "/assets/img/small/4.jpg" | relative_url }}">
                </div>
                <div class="parallax-inner-text">
                    <h1>Fart och fläkt på ditt evenemang</h1>
                    <p>
                        Många över hela Europa har redan upptäckt att LiTHe Blås med baletten Blåsyran kan få alla
                        lokaler att svänga i takt till tonerna från äkta svensk studentmusik, så varför inte bli ännu en
                        av Blåsets nöjda kunder? Vi står för fartfylld underhållning på din fest, mässa, invigning eller
                        aktivitetsdag.
                    </p>
                    <a class="btn btn-primary" href="/boka/">Boka!</a>
                </div>
            </div>
        </div>
    </div>
    <div class="parallax-img" data-image="{{ "/assets/img/carousel/3.jpg" | relative_url }}" data-width="640" data-height="360"></div>
    <div class="parallax-content">
        <div class="container">
            <div class="row">
                <div class="parallax-inner-text">
                    <h1>Roliga upptåg och minnen för livet</h1>
                    <p>
                        Blåset är öppet för alla på LiU, oavsett campus eller utbildning. Om du spelar ett instrument
                        eller tycker det är roligt att dansa, tveka inte att ansöka redan idag. Vi vill ha <em>dig</em>!
                    </p>
                    <a class="btn btn-primary" href="/ansok/">Ansök!</a>
                </div>
                <div class="parallax-inner-img">
                    <img src="{{ "/assets/img/small/3.jpg" | relative_url }}">
                </div>
            </div>
        </div>
    </div>
    <div class="parallax-img" data-image="{{ "/assets/img/carousel/4.jpg" | relative_url }}" data-width="1440" data-height="810"></div>
    <div class="parallax-content">
        <div class="container">
            <div class="row">
                <div class="parallax-inner-img">
                    <img src="{{ "/assets/img/small/2.jpg" | relative_url }}">
                </div>
                <div class="parallax-inner-text">
                    <h1>En annorlunda upplevelse</h1>
                    <p>
                      "Att se en spelning med LiTHe Blås är som att få en käftsmäll, vingla runt och inte riktigt förstå vad det är man varit med om förrän efter det är slut."
                    </p>
                    <a class="btn btn-primary" href="/upplev/">Lyssna!</a>
                </div>
            </div>
        </div>
    </div>

    <script src="{{ "/assets/js/jquery.imageScroll.min.js" | relative_url }}"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.min.js"></script>
    <script>
        var touch = Modernizr.touch;
        $('.parallax-img').imageScroll({
            //imageAttribute: (touch === true) ? 'image-mobile' : 'image',
            //parallax: true,
            touch: touch,
            //speed: 0.2,
            //holderMinHeight: 200,
            //mediaWidth: (touch === true) ? 800 : 1600,
            //mediaHeight: (touch === true) ? 405 : 810,
            coverRatio: 0.6
            //extraHeight: 50
        });
    </script>