---
layout: default
---
<div class="page-title">
    <div class="container">
        <h1>{{ page.title | escape }}</h1>
    </div>
</div>

<div class="container">
    <a href="https://billio.app/event/luciafesten" style="
        display: block;
        background: #1c4386;
        color: #fff5a4;
        padding: 10px 20px;
        text-align: center;
        font-weight: bold;
        margin-bottom: 20px;
    ">Köp din biljett här!</a>
    <div class="row">
        <div class="col-md-8 col-lg-8">
            <h1>Achtung!</h1>
            <p class="lead">
                Just när du trodde Kårallen var säker bjuder LiTHe Blås in till årets mysigaste fest!
            </p>
            <p>
                Luciafesten äger rum lördagen den 11 december. Kårallens portar öppnar under kvällen och sedan håller
                universitetets lustigaste, juligaste och mysigaste fest igång till någon gång framåt morgonkvisten.
            </p>
            <p>
                Under kvällen kommer du att få uppleva dans till levande musiker, goda drinkar i spännande barer, Kul
                Små Grejer&trade; att leka med och självfallet Harakiri – musikaliskt självmord i form av karaoke till
                liveband.
            </p>
            <p>
                Biljetter till årets juligaste festkväll kommer att släppas under pompa och ståt till det oerhört
                välljudande LiTHe Blås. Mer info om biljettsläpp kommer, håll utkik på vår <a href="https://facebook.com/litheblas" target="_blank">Facebook</a> och <a href="https://instagram.com/litheblas" target="_blank">Instagram</a>.
            </p>

            <h2>Julsittning</h2>
            <p>
                Även i år kan du inleda festkvällen med en fantastisk julsittning i Gasquen, med fördrink. I
                sittningsbiljetten ingår julbords- och efterrättsbuffé, förstklassig
                underhållning samt festbiljett.
            </p>

            <h2>Kul Små Grejer&trade;</h2>
            <p>
                Förutom all fantastisk dekor som finns för beskådan runt om i Kårallen kan du även stöta på KSG - Kul
                Små Grejer.
            </p>
            <p>
                Dessa föremål är i många fall interaktiva och kan antingen bjuda på utmanande pussel där det gäller att
                binda samman hjärna, råstyrka och en gnutta pajbakning, eller bara ge dig en käftsmäll i skrevet. Så
                samla ihop ett gäng vapendragare och utforska Kårallens alla våningar!
            </p>

            <h2>Harakiri</h2>
            <p class="lead">
                Gillar du att sjunga? Kanske är det så att du gör detta hellre än bra?
            </p>
            <p>
                I vilket fall som helst kan du under festen sjunga karaoke till Blåsets eget liveband nere i Gasquen,
                även känt som Harakiri. Bland mastodontutbudet av låtar hittar du allt från hip-hop till schlager, något
                för alla helt enkelt. Så beställ en julöl i baren och ta plats på scen, att sjunga fint är inte det
                viktigaste!
            </p>
        </div>
        <div class="col-md-4 col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1 class="panel-title">Snabba fakta</h1>
                </div>
                <div class="panel-body">
                    <p>
                        <b>Vad?</b><br>
                        Årets sista, juligaste, mysigaste, mystiskaste och <em>unikaste</em> fest!
                    </p>
                    <p>
                        <b>När?</b><br>
                        11 december.
                    </p>
                    <p>
                        <b>Var?</b><br>
                        Kårallen, Campus Valla.
                    </p>
                    <p>
                        <b>Klädkod?</b><br>
                        Fint eller finurligt!
                    </p>
                    <p>
                        <b>Biljettsläpp?</b><br>
                        Mer info om biljettsläpp kommer, håll utkik på vår <a href="https://facebook.com/litheblas" target="_blank">Facebook</a> och <a href="https://instagram.com/litheblas" target="_blank">Instagram</a>.
                    </p>

                </div>
            </div>
        </div>
    </div>
</div>